<div th:replace="fragment/head"></div>
<title>VCOMMUTE-ADVANCE</title>
<div th:replace="fragment/header"></div>
<div class="user-details-container" ng-controller="advanceDataController" ng-app="advanceData">
    <div class="page-header">
        <span class="header-line"></span>
        <span class="lbl-page-header">Advance Allowance</span>
        <span class="header-line"></span>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div id="formAddContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">ADD ADVANCE</div>
                </div>
                <form ng-submit="submitAdvanceAllowance()">
                    <div class="master-add-form">
                        <input ng-model="form.id" type="text" class="form-control d-none" id="id"
                            placeholder="id">
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Name:</label>
                            <select class="form-select" ng-model="form.userId"
                                ng-options="user.id as user.name for user in users" ng-disabled="form.id" required>
                        <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Date:</label>
                            <input type="date" ng-model="form.advanceDate" class="form-control" aria-describedby=""
                                placeholder="dd/mm/yyyy" required>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Advance Amount:</label>
                            <input type="number" ng-model="form.advanceBalance" class="form-control" aria-describedby=""
                                placeholder="Advance Amount" step="0.01" min="0.00" id="advanceBalance" required>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Purpose:</label>
                            <input type="text" ng-model="form.purpose" class="form-control" aria-describedby=""
                            placeholder="Purpose" >
                        </div>
                        <div class="btn-container">
                            <button type="submit" class="btn btn-submit mt-3 ms-4">SAVE</button>
                            <button type="submit" class="btn btn-cancel mt-3" ng-click="refresh()">CANCEL</button>
                     
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none" id="formEditContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">EDIT ADVANCE</div>
                </div>
                <form ng-submit="editAdvanceAllowance()">
                    <div class="master-add-form">
                        <input ng-model="form.id" type="text" class="form-control d-none" id="id"
                            placeholder="id">
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Name:</label>
                            <select class="form-select" ng-model="form.userId"
                                ng-options="user.id as user.name for user in users" ng-disabled="form.id" required>
                        <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Date:</label>
                            <input type="date" ng-model="form.advanceDate" class="form-control" aria-describedby=""
                                placeholder="dd/mm/yyyy" required>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Advance Amount:</label>
                            <input type="number" ng-model="form.advanceBalance" class="form-control" aria-describedby=""
                                placeholder="Advance Amount" step="0.01" min="0.00" id="advanceBalance" required>
                        </div>
                        <div class="master-add-form-filed">
                            <label for="exampleInputName" class="form-label">Purpose:</label>
                            <input type="text" ng-model="form.purpose" class="form-control" aria-describedby=""
                            placeholder="Purpose" >
                        </div>
                        <div class="btn-container">
                            <button type="submit" class="btn btn-submit mt-3 ms-4">SAVE</button>
                            <button type="submit" class="btn btn-cancel mt-3" ng-click="refresh()">CANCEL</button>
                     
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="page-action-container">
                <div class="btn-page-action-container ms-3">
                    <select class="btn btn-page-action btn-page-action-dropdown" ng-model="nameList.user_id"
                        ng-change="getDataNameWise(nameList.user_id)"
                        ng-options="td.user_id as td.username for td in nameList">
                        <option class="select-item" value="">-Select Users-</option>
                    </select>
                </div>    
                <div class="btn-page-action-container me-5">
                    <div class="dropdown">
                        <button class="btn btn-page-action" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="icon-common icon-filter icon-page-action-button"></span>
                            <span class="lbl-page-action-button">Filter</span>
                        </button>
                        <form ng-submit="fetchAdvanceDateWise()">
                            <ul class="dropdown-menu filter-dropdown-menu"
                                aria-labelledby="dropdownMenuButton1">
                                <div class="lbl-filter-header">Start Date:</div>
                                <input class="form-control filter-date-picker" type="date"
                                    ng-model="date.startdate" placeholder="dd-mm-yyy">
    
                                <div class="lbl-filter-header">End Date:</div>
                                <input class="form-control filter-date-picker" type="date"
                                    ng-model="date.enddate" placeholder="dd-mm-yyy">
    
                                <div class="text-center mt-4">
                                    <button class="btn btn-apply btn-primary">
                                        <span class="lbl-btn">Apply</span> <span
                                            class="icon-common icon-btn icon-check"></span>
                                    </button>
                                </div>
                            </ul>
                        </form>
                    </div>
    
                </div>
                
            </div>
            <div class="user-details overflow-x-auto">
                <table class="table-user-details table-lg">
                    <tr class="table-head-primary">
                        <th class="text-start">
                            <label class="form-check-label" for="flexCheckDefault">SL No.</label>
                        </th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Purpose</th>
                        <th>Action</th>
                    </tr>

                    <tr ng-repeat="advAllow in advanceAllowances | filter:search" class="master-list">
                        <td>
                            <div class="d-flex align-items-center">
                                <label class="form-check-label" for="flexCheckDefault">{{$index+1}}</label>
                            </div>
                        </td>
                        <td>{{advAllow.name}}</td>
                        <td>{{advAllow.advanceDate | date : 'dd-MM-yyyy'}}</td>
                        <td>&#8377;{{advAllow.advanceBalance |
                            number: 2}}</td>
                        <td>{{advAllow.purpose}}</td>
                        <td>
                            <div class="action-container" ng-if="advAllow.payStatus!='PAID'">
                                <span class="btn-action btn-icon btn-edit">
                                    <span class="icon-common icon-action icon-edit-new" ng-click="advanceAllowanceedit(advAllow.id)"
                                        onclick="openMasterEditview(this)" title="Edit"
                                       ></span>
                                </span>
                                <!-- <span class="btn-action btn-icon btn-trash">
                                    <span class="icon-common icon-action icon-trash"
                                    ng-click="deleteAdvance(advAllow.id)"  title="Delete"></span>
                                </span> -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer"></div>
<script src="private/finance/advance.js"></script>