<div th:replace="fragment/head"></div>
<title>VCOMMUTE-DISAPPROVED DATA</title>
<div th:replace="fragment/header"></div>
<div class="user-details-container" ng-controller="paidReportController" ng-app="paidReportData">
    <div class="page-header">
        <span class="header-line"></span>
        <span class="lbl-page-header">Paid Allowance Sheet</span>
        <span class="header-line"></span>
    </div>
    <div class="page-action-container">
        <div class="btn-action-action-container  d-flex ms-5">
            <select class="btn btn-page-action btn-page-action-dropdown" ng-model="nameList.user_id"
                ng-change="getApprovalClasterDataNameWise(nameList.user_id)"
                ng-options="td.user_id as td.username for td in nameList">
                <option class="select-item" value="">-Select Users-</option>
            </select>
            <select class="btn btn-page-action btn-page-action-dropdown ms-5" ng-model="month_id"
                ng-change="filterByMonth(month_id)"
                ng-options="monthYearObj.month as monthYearObj.name for monthYearObj in uniqueMonths">
                <option class="select-item" value="">-Select Month-</option>
            </select>
        </div>



        <div class="page-action-end-container">
            <div class="btn-page-action-container">
                <div class="dropdown">
                    <button class="btn btn-page-action" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="icon-common icon-filter icon-page-action-button"></span>
                        <span class="lbl-page-action-button">Filter</span>
                    </button>
                    <form ng-submit="fetchTravelData()">
                        <ul class="dropdown-menu filter-dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div class="lbl-filter-header">Start Date: </div>
                            <input class="form-control filter-date-picker" type="date" ng-model="date.startdate"
                                placeholder="dd-mm-yyy">
                            <div class="lbl-filter-header">End Date: </div>
                            <input class="form-control filter-date-picker" ng-model="date.enddate" type="date"
                                placeholder="dd-mm-yyy">
                            <div class="text-center mt-4">
                                <button class="btn btn-apply btn-primary" type="submit">
                                    <span class="lbl-btn">Apply</span>
                                    <span class="icon-common icon-btn icon-check"></span>
                                </button>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-link" ng-click="resetFilter()">
                                    <span class="lbl-btn">Reset Filter</span>
                                </button>
                            </div>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="btn-page-action-container">
                <button class="btn btn-page-action btn-page-action-dropdown" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="lbl-page-action-button">Export As</span>
                    <span class="icon-common icon-chevron icon-page-action-button"></span>
                </button>
                <ul class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" ng-click="exportData(); markPaymentImportedList()">
                            <span class="icon-common icon-action-dropdown icon-excel"></span>
                            <span class="">Excel</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" ng-click="printData()">
                            <span class="icon-common icon-action-dropdown icon-print"></span>
                            <span class="">Print</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user-details overflow-x-auto" id="paidReport">
        <table class="table-user-details table-lg">
            <tr class="table-head-primary">
                <th>
                    <label>SL No.</label>
                </th>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Advance Amount</th>
                <th>Allowance Amount</th>
                <th>Approved Date</th>
                <th>Approved Cluster</th>
                <th>Bank Name</th>
                <th>Bank A/C No.</th>
                <th>IFSC Code</th>
                <th>Bank Type</th>
                <th>Payable Amount</th>
            </tr>
            <tr ng-repeat="paid in paidSheet | filter:search">
                <td>
                    <div class="d-flex align-items-center">
                        <label>{{$index+1}}</label>
                    </div>
                </td>
                <td>{{paid.name}}</td>
                <td>{{paid.employeeId}}</td>
                <td>&#8377; {{paid.advanceBalance | number : 2}}</td>
                <td>&#8377; {{paid.payableAmount | number : 2}}</td>
                <td>{{paid.approvedDt | date:'dd/MM/yyyy'}}</td>
                <td>{{paid.clusterName}}</td>
                <td>{{paid.bankName}}</td>
                <td>{{paid.bankType}}</td>
                <td>{{paid.bankAccountNo}}</td>
                <td>{{paid.ifscCode}}</td>
                <td ng-style="{ color: paid.payableAmount >=1 ? 'green' : 'red' }">&#8377;
                    {{paid.balance | number : 2}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="fragment/footer"></div>
<script src="private/finance/paidreport.js"></script>